
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: #000;
  overflow-x: hidden;
}

html {
  background: #000;
}

#root {
  background: #000;
}
